.appContainer{
    position: relative;

    display: flex;
    flex-direction:column;
    align-items: center;

    flex: 1;

    height: 100vh;
    background-color: var(--primary-background)
}

/* button - ThemeButton */

.themeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;

    border: none;
    background: transparent;
}

.sunIcon {
    color: var(--purple-500);
    transition: color .2s ease;  
}

.themeButton:hover .sunIcon{
    color: var(--blue-500)
}

.moonIcon {
    color: var(--blue-500);
    transition: color .2s ease;   
}

.themeButton:hover .moonIcon{
    color: var(--purple-500)
}


/* header - HTML element */

.appHeader{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: var(--background-header);
    padding: 4.75rem 0;
}

.appHeader h1 span{
    font-size: 2.5rem;
    font-weight: 900;
}

.appHeader h1 .to{
    color: var(--blue-500)
}

.appHeader h1 .do{
    color:var(--purple-700)
}

.appHeader img{
    height: 2.25rem;
    margin-right: .75rem;
}

/* Content Container */

.contentContainer {
    width: 100%;
    max-width: 736px;
}


/* Input Container */

.inputContainer{
    display: flex;
    align-items: center;
    justify-content:center;

    gap: .5rem;

    width: 100%;

    margin-top: -1.5rem;
}

.inputContainer input{
    flex:1;
    
    border: 1px solid var(--boxes-border);
    border-radius: 8px;

    color:var(--text);
    background-color: var(--background-boxes);

    line-height: 1.4;

    padding: 1rem;
}


.inputContainer input:focus{
    outline: 1px solid var(--purple-700)
}

.inputContainer button{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: .5rem;

    font-size: .875rem;
    font-weight: 700;

    border:none;
    border-radius:8px;

    color: var(--button-text);
    background-color: var(--blue-700);

    padding: 1rem;

    transition: background-color .2s; 
}

.inputContainer button:hover{
    background-color: var(--blue-500);
}

.inputContainer button:disabled{
    background-color: var(--ashen);
    cursor: not-allowed
}

/* Task Container */

.tasksContainer{
    margin-top: 4rem;

    display: flex;
    flex-direction: column;

    width: 100%;
}

.tasksContainer header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasksContainer header span{
    font-size: .875rem;
    font-weight: 700;
}

.tasksContainer header .createdTasks {
    color: var(--blue-500);
}

.tasksContainer header .completedTasks{
    color: var(--purple-500);
}

.tasksContainer header .createdTasks span,
.tasksContainer header .completedTasks span{
    font-size: .75rem;

    color: var(--span);
    background-color: var(--secondary-background);

    padding: .125rem .5rem;
    border-radius: .5rem
}

/* TaskList */

.tasksList{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: .75rem;

    width: 100%;

    margin-top: 1.5rem;
}

.tasksList .doesNotHasTasksContainer{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
    border-top: 1px solid var(--secondary-background);

    width: 100%;
    padding: 4rem 1.5rem;
}

.tasksList .doesNotHasTasksContainer img{
    width: 3.5rem;
    height: 3.5rem;

    margin-bottom: 1rem;
}

.tasksList .doesNotHasTasksContainer strong,
.tasksList .doesNotHasTasksContainer span{
    font-size: 1rem;
    line-height: 1.4;

    color: var(--no-tasks);
    text-align: center;

    margin-bottom: 0.25rem
}

.clipboardIcon {
    color: var(--no-tasks);
    margin-bottom: 1rem;
}

@media (max-width: 800px){
    .contentContainer{
        width: 90% 
    }
}

@media (max-width: 400px){
    .tasksList .doesNotHasTasksContainer strong,
    .tasksList .doesNotHasTasksContainer span{
        font-size: .9rem;
        line-height: 1.4;
    
        color: var(--text);
        text-align: center;
    
        margin-bottom: 0.25rem
    }
}